* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f8ff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    border: 1px solid #151515;
    padding: 20px;
    text-align: center;
    height: auto;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    margin-bottom: 10px;
}

hr {
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.form-group label {
    margin-right: 10px;
    flex: 1;
    text-align: left;
}

.form-group input[type="number"] {
    -webkit-appearance: textfield;
    padding: 5px;
    color: #151515;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
}

#emi {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}
